name: Build
run-name: Production Build by ${{ github.actor }}
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v3

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniconda-version: "latest"
        channels: conda-forge, defaults
        auto-activate-base: true
        activate-environment: ""

    - name: Source Miniconda
      run: |
        source $CONDA/etc/profile.d/conda.sh
        conda activate
        which python
        python --version
        echo $CONDA
        conda install -n base conda-libmamba-solver
        conda config --set solver libmamba

    - name: Install abismal
      run: |
        conda install -c conda-forge python=${{ matrix.python-version }} dials
        python -m pip install --upgrade pip
        pip install -e .[dev]

    - name: Run tests with pytest
      run: |
        pytest

    - name: Upload coverage to Codecov  
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
        flags: unittests

